.dishonored .momentum-tracker {
	display: flex;
	// position: fixed;
	width: min-content;
	height: max-content;

	margin: 0;
	padding: 4px;
	margin-bottom: 16px;
	pointer-events: all;
	// bottom: 160px;
	// left: 50%;
	// transform: translate(-50%, 0%);
	// z-index: 29;

	background-color: white;
	color: black;

	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 16px;
	box-shadow: 0 0 4px 4px white;

	label {
		font-family: "EB Garamond", serif;
		font-weight: bold;
		font-size: 1.6em;
		padding: 0;
		margin: 0;
		color: black;
		line-height: 1;
		align-self: center;
		text-shadow: 0px 0px 1px white;
	}

	.input-controls {
		display: flex;
		flex-direction: row;
		font-size: 1.3em;
		text-align: center;


		a {
			margin: 0;
			padding: 0;
			padding-right: 8px;
			padding-left: 8px;
			align-self: center;

			&.chaos {
				color: darkred;

				&:hover {
					color: red;
					text-shadow: 0px 0px 4px darkred;
				}
			}

			&.momentum {
				color: darkgreen;

				&:hover {
					color: lime;
					text-shadow: 0px 0px 4px darkgreen;
				}
			}

		}

		input[type=number] {
			font-size: 1.2em;
			font-weight: bold;
			border: transparent;
			box-shadow: inset 0 0 5px black;
			width: 50px;
			text-align: center;
			background: white;
			appearance: textfield;
			color: black;

			&.chaos {
				color: darkred;
				text-shadow: 0px 0px 1px red;
			}

			&.momentum {
				color: darkgreen;
				text-shadow: 0px 0px 2px lime;

			}
		}

	}

	.tracker-section {
		display: flex;
		padding: 4px;
		margin: 0;
		margin-left: 2px;
		margin-right: 2px;

		background-color: #e0e0e0;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 16px;
	}
}
